html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	/*background-color: black;*/
}

#Board {
	width: inherit;
	height: inherit;
	float: left;	
}

#Container {
	position: relative;
	width: inherit;
	height: inherit;
	margin: 0;
	padding: 0;
	padding-top: 5px;
	top: 60px;
}

#Header {
	position: relative;
	top: -55px;
	width: inherit;
	height: 50px;
	margin-left: auto;
	padding-right: auto;
	margin-bottom: 5px;
	float: left;
}

#Score {
	width: 95px;
	height: 50px;
	float: right;
	border-radius: 3px;
	background-color: orange;

	padding-right: 5px;
	text-align: right;
	font-family: Arial;
}

#ScoreText {
	font-size: 16px;
	margin-top: 3px;
	color: black;
	text-shadow: none;
}

#ScoreNumber {
	font-size: 22px;
	font-weight: bold;
	color: white;
}

#Instructions {
	width: 50px;
	height: 40px;
	float: right;
	border-radius: 3px;
	background-color: green;	
	margin-right: 5px;		

	font-family: Arial;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: white;
	padding-top:10px;
}

#Debug {
	width: 50px;
	height: 40px;
	float: right;
	border-radius: 3px;
	background-color: gray;	
	margin-right: 5px;		

	font-family: Arial;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: white;
	padding-top:10px;
}

#Login {
	width: 50px;
	height: 35px;
	float: left;
	border-radius: 3px;
	background-color: #00aced;
	margin-left: 5px;
	font-family: Arial;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: white;
	padding-top:10px;
}


.tile {
    position: absolute;
    border: 1px dashed LightGray;
    z-index: 1;
}

.piece {
    position: absolute;
    z-index: 2;	
    font-family: Verdana;
    color: White;
    text-align: center;
    vertical-align: middle;
}

.Red {
	background-color: DarkRed;
}

.Blue {
	background-color: DarkBlue;
}

.draggable {
	cursor: move;
}

.non-draggable {
	cursor: not-allowed;
}

.droppable {
}

.drop-hover-Blue {
	background-color: LightBlue;	
}

.drop-hover-Red {
	background-color: Pink;	
}



#LoginButton {
	border-radius: 3px;
	height: 40px;
	background-color: green;	
	font-family: Arial;
	font-size: 22px;
	text-align: center;
	color: white;
	padding-top:16px;
}

.green-mini-button {
	background-color: green;
	border-radius: 2px;
	color: white;
	/*padding-top: 2px;*/
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
}

.help-text-Red {
	color: red;
	font-weight: bold;
}

.help-text-Blue {
	color: blue;
	font-weight: bold;
}


#Popup {
	transition: all 0.3s;
	background-color: White;
	border: 1px solid Black;
	font-family: Verdana;
	font-size: 16px;
	line-height: 20px;
	padding: 20px;
	margin: 20px;
}

#PopupTitle {
	font-weight: bold;
	color: #333;
}

.PopupButton {
	border-radius: 3px;
	height: 40px;	
	font-family: Arial;
	font-size: 22px;
	text-align: center;
	color: white;
	padding-top:16px;
	cursor: default;
}

.PopupButtonGray {
	background-color: gray;	
}

.PopupButtonGreen {
	background-color: green;		
}

.PopupButtonBlue {
	background-color: #00aced;
}

.SpaceAbove {
	margin-top: 15px;
}